:root {
  --main-color: #eb7749;
  --black: #000000;
}

body{
    font-family: 'Montserrat', sans-serif;;
}

.xd{
    margin-top: 50px;
    width: 240px;
    height: 240px;
}

.navbar-item {
  text-align: center;
}

.navbar-item>a {
  color: var(--black);
}

.navbar-item>a:hover {
  text-decoration: underline;
  color: var(--main-color);
}

.navbar-burger:hover {
  background-color: transparent;
  color: var(--black);
}

nav {
  box-shadow: 1px 1px 8px rgba(26, 27, 28, .1);
}

nav>ul {
  box-shadow: none !important;
}

.animated_container {
  animation: fadeInLeft 1s ease-out;
  /* ajusta la duración y la función de temporización según sea necesario */
}

.hero{
    background-color: #eb7749;
}

.user-card {
  max-width: 400px;
  /* Ajusta según tus necesidades */
  margin: 0 auto;
}

.testimonial-card {
  display: inline-block;
  margin: 10px;
}

.fade-in {
  animation: fadeIn ease 1s;
}

.footer {
  background-color: #E6B04B;
}

.not-down{
    flex: 1; /* Ocupa el espacio disponible */
    padding: 20px;
    position: sticky;
    top: 0; /* Fija la columna en la parte superior */
}

.dow{
    flex: 1; /* Ocupa el espacio disponible */
    padding: 20px;
}

@media (min-width: 600px) {
  body {
    flex-direction: row;
  }

  .hero-section {
    flex: 2;
  }

  .content-section {
    flex: 1.5;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}